@import 'colors.scss';
/*--|►| #index-footer <footer> |◄|--*/
#index-footer {
  z-index: 2;
  display: grid;
  grid-row: 3/4;
  grid-column: 2/6;
  grid-template-rows: 64px;
  grid-template-columns: 1fr 45px 1fr 45px 1fr 45px 1fr 145px;

  nav {
    grid-row: 1/2;
    div {
      button {
        border: none;
        outline: none;
        background: none;
        a {
          display: flex;
          align-items: center;
          text-decoration: none;
          transition: transform 0.5s;
          transform: translateY(16px);
          svg {
            position: fixed;
            font-size: 3rem;
            color: $primary-light;
          }

          svg:nth-child(1) {
            opacity: 100;
            color: $primary-light;
            transition: opacity 0.25s;
          }
          svg:nth-child(2) {
            opacity: 0;
            color: $secondary-dark;
            transition: opacity 0.25s;
          }
        }
      }
      h3 {
        display: flex;
        align-items: center;
        justify-content: center;

        cursor: pointer;
        color: $primary-light;
        transition: transform 0.5s;
        transform: translateY(32px) scaleY(0);
      }
    }
  }
  nav:hover {
    div {
      button a {
        transform: translateY(-24px);
        svg:nth-child(1) {
          opacity: 0;
        }
        svg:nth-child(2) {
          opacity: 100;
          filter: drop-shadow(0 0 0.75rem $secondary-light);
        }
      }
      h3 {
        color: $secondary-medium;
        transform: translateY(0) scaleY(1);
        filter: drop-shadow(0 0 0.75rem $secondary-light);
      }
    }
  }
  nav div[class*='active'] {
    button a {
      cursor: default;
      transform: translateY(-24px);
      svg:nth-child(1) {
        opacity: 0;
      }
      svg:nth-child(2) {
        opacity: 100;
        color: $secondary-dark;
        filter: drop-shadow(0 0 0.75rem $secondary-light);
      }
    }
    h3 {
      cursor: default;
      color: $secondary-medium;
      transform: translateY(0) scaleY(1);
      filter: drop-shadow(0 0 0.75rem $secondary-light);
    }
  }
}
/*--▼ .default-footer ▼--*/
.default-footer {
  background: $primary-dark;
  #opdatering {
    grid-column: 2/3;
  }
  #kalender {
    grid-column: 4/5;
  }
  #statistieke {
    grid-column: 6/7;
  }
  /*
  .navigation {
    padding: 0 80px;
    ul {
      display: flex;
      li {
        z-index: 10;
        width: 70px;
        height: 70px;
        list-style: none;
        position: relative;
        a {
          width: 100%;
          display: flex;

          position: relative;
          text-align: center;
          align-items: center;

          flex-direction: column;
          justify-content: center;

          .icon {
            display: block;
            margin-top: 4px;
            transition: 0.5s;
            font-size: 1.5em;
            position: relative;
            text-align: center;
            color: $primary-light;
          }
          .icon:hover {
            color: $secondary-medium;
            filter: drop-shadow(0 0 2em $secondary-light);
          }
          .text {
            color: $primary-dark;
            transform: translateY(20px);
          }
        }
      }
      justify-content: space-around;
    }
    ul li.active a .icon {
      color: $secondary-dark;
      transform: translateY(-32px);
      filter: drop-shadow(0 0 0.75rem $primary-dark);
    }
    ul li.active a .text {
      opacity: 1;
      transition: 1s;
      font-weight: 800;
      overflow: hidden;
      font-size: 0.75em;
      position: absolute;
      letter-spacing: 0.05em;
      color: $secondary-medium;
      transform: translateY(10px);
      filter: drop-shadow(0 0 0.75rem black);
    }
    background: $primary-dark;
  }
  */
}
